# ------------------------------
# Virtual Environment
# ------------------------------
venv/

# ------------------------------
# Python Cache
# ------------------------------
__pycache__/
*.py[cod]

# ------------------------------
# Environment Variables
# ------------------------------
.env

# ------------------------------
# VS Code
# ------------------------------
.vscode/

# ------------------------------
# macOS
# ------------------------------
.DS_Store

# ------------------------------
# Jupyter Notebook
# ------------------------------
.ipynb_checkpoints/

# ------------------------------
# Python Build Files
# ------------------------------
build/
dist/
*.egg-info/

# Logs
*.log

# NLTK Downloaded Data (Optional)
nltk_data/