<!DOCTYPE html>
<html>
<head>
    <title>Email Spam Classifier</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="container">
    <h2>Email Spam Classifier</h2>

    <form action="/predict" method="POST">
        <textarea name="message" placeholder="Enter your message..."></textarea>
        <br>
        <button type="submit">Check</button>
    </form>

    {% if prediction %}
        <h3>Result: {{ prediction }}</h3>
    {% endif %}
</div>

</body>
</html>